<h1 mat-dialog-title>Adicionar gestor</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome do gestor</mat-label>
            <input matInput placeholder="Nome do gestor" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Creci</mat-label>
            <input matInput placeholder="Creci do gestor" formControlName="creci" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tipo do gestor</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{ type.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Salário</mat-label>
            <input matInput placeholder="Salário" currencyMask formControlName="salary" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Data de admissão</mat-label>
            <input matInput placeholder="Data de admissão" formControlName="admissionDate" mask="00/00/0000"
            [dropSpecialCharacters]="false" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Porcentagem da comissão</mat-label>
            <input matInput placeholder="Porcentagem da comissão" formControlName="commissionPercentage" required>
        </mat-form-field>

      </form>
</div>

<div mat-dialog-actions fxLayoutAlign="end end">
    <button mat-button (click)="onDismiss()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="create()">Salvar</button>
</div>
