<h1 mat-dialog-title>Editar imóvel</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput placeholder="Código do imóvel" formControlName="id" readonly>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill" disabled>
            <mat-label>Tipo do imóvel</mat-label>
            <input matInput placeholder="Tipo do imóvel" formControlName="type" readonly>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Descrição</mat-label>
            <textarea #description matInput formControlName="description" placeholder="Descrição" maxlength="255"
                required></textarea>
            <mat-hint align="end">{{ description.value.length }} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome do proprietário</mat-label>
            <input matInput placeholder="Nome do proprietário" formControlName="sellerName" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Preço solicitado</mat-label>
            <input matInput placeholder="Preço solicitado" formControlName="price" currencyMask required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Endereço da imagem</mat-label>
            <input matInput placeholder="Endereço da imagem" formControlName="image" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Data de cadastro</mat-label>
            <input matInput placeholder="Data de cadastro" formControlName="date" mask="00/00/0000"
                [dropSpecialCharacters]="false" required>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions fxLayoutAlign="end end">
    <button mat-button (click)="onDismiss()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="update()">Salvar</button>
</div>